@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Grand+Hotel&family=Homemade+Apple&family=Roboto+Flex:wght@300;400&display=swap');

body {
    background-color: bisque;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copy {
    line-height: 10px;
    padding-top: 50px;
}

h1 {
    color: #d75043;
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
}

h2 {
    color:  rgb(160, 61, 72);
    padding-bottom: 30px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100px;
}

.flexslider {
    max-width: 600px;
    margin: 0 auto; 
}

.flex-control-nav li {
    margin: 0 3px; 
    list-style: none;
}

.flex-control-nav li a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%; 
    text-indent: -9999px;
}

.flex-control-nav li a.flex-active {
    background-color: #f00;
}

img {
    height: 1000px;
    width: auto;
}